<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-pulse">
</ngx-spinner>
<div class="layout-wrmainer" [ngClass]="{'layout-compact':layoutCompact}" (click)="onLayoutClick()">

    <div #layoutContainer class="layout-container"
            [ngClass]="{'menu-layout-static': !isOverlay(),
            'menu-layout-overlay': isOverlay(),
            'layout-menu-overlay-active': overlayMenuActive,
            'menu-layout-horizontal': isHorizontal(),
            'menu-layout-slim': isSlim(), 
            'layout-menu-static-inactive': staticMenuDesktopInactive,
            'layout-menu-static-active': staticMenuMobileActive}"> 
            <!--'menu-layout-slim': isSlim(), -->

        <main-topbar></main-topbar>
        <!-- [ngClass]="{'layout-menu-dark':darkMenu}" -->
        <div class="layout-menu layout-menu-dark"  (click)="onMenuClick($event)">
            <p-scrollPanel #scrollPanel [style]="{height: '100%'}">
                <main-inline-profile *ngIf="profileMode=='inline'&&!isHorizontal()"></main-inline-profile>
                <main-menu [reset]="resetMenu"></main-menu>
            </p-scrollPanel>
        </div>

        <div class="layout-main">
            <main-breadcrumb></main-breadcrumb>

            <div class="layout-content">
                <router-outlet></router-outlet>
                <main-footer></main-footer>
            </div>
        </div>

        <main-rightpanel></main-rightpanel>

        <div class="layout-mask"></div>
    </div>

</div>
