<div class="login-body layout-content">
    <div class="card login-panel ui-fluid">
        <div class="ui-g">
            <div class="ui-g-12">
                <img src="../../../assets/layout/images/logo-ultima.svg">
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input pInputText type="text" [(ngModel)]="user.username" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                    <label>Email</label>
                </span>
            </div>

            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input pInputText type="password" [(ngModel)]="user.password" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                    <label>Senha</label>
                </span>
            </div>

            <div class="ui-g-12">
                <button (click)="login()" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
                    <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
                    <span class="ui-button-text ui-c">Login</span>
                </button>
                <button type="button" class="secondary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
                    <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-help"></span>
                    <span class="ui-button-text ui-c">Sign In</span>
                </button>
            </div>
        </div>

    </div>
</div>