


<p-dataGrid [value]="products" [paginator]="true" [rows]="20">
    <p-header>
        Lista de Produtos
    </p-header>
    <ng-template let-prod pTemplate="item">
        <div style="padding:3px" class="ui-g-12 ui-md-3">
            <div style="text-align:center">

                <img async src="{{prod?.images[0]?.src}}" width="200">

                <div>{{prod.name}}</div>
                <div class="car-detail">{{prod.price | currency:'BRL':'symbol'}}</div>
                <hr class="ui-widget-content" style="border-top:0">
                <button pButton (click)="newOrEditProduct(prod.id)" label="Editar" icon="ui-icon-edit"></button>
                <button pButton label="Desabilitar" class="ui-button-danger" icon="ui-icon-do-not-disturb"></button>

            </div>
        </div>
    </ng-template>
</p-dataGrid>