.error-msg{
    background-color: transparent;
    border: 0 none;
    margin: 0px;
    color: #e62a10;
    font-size: .75em;
}


.upload-style .ui-fileupload {
    background-color: #000;
    color: #000;
    width: 60%;
}

.upload-style .ui-fileupload-buttonbar	{
    background-color: aqua;
    color: aqua;
}

.upload-style .ui-fileupload-content{
    background-color: yellow;
}



.drop-style .ui-dropdown-label{
    font-size: 12px;
}



.card-style .ui-card-header img{
    width: 175px;
}

.carousel-style .ui-carousel-item	{
    width: 174.5px
}

.ui-fileupload-buttonbar .ui-button{
    width: 100px !important;
}