<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
<p-blockUI [target]="pnl" [blocked]="blockCombination">
    <i class="material-icons" style="color:white; position:absolute;top:40%;left:35%; font-size: 8em;">lock</i>
</p-blockUI>

<p-card #pnl title="{{productInfo?.product.name}}" class="card-style">
    <p-header>
        <div class="ui-helper-clearfix">
            <a href="#" style="float:right" (click)="deleteCombination($event,i); false">
                <i class="material-icons">close</i>
            </a>
        </div>
        <p-carousel numVisible="2" class="carousel-style" [value]="images">
            <ng-template let-img pTemplate="item">
                <img [src]="img?.src">
                <div class="ui-grid-col-12">
                    <a href="#" *ngIf="imageMin" (click)="deleteImageConfirmation(img,images); false">
                        <i class="material-icons">close</i>
                    </a>
                </div>
            </ng-template>
        </p-carousel>
        <p-fileUpload mode="basic" style="float: right;" #formUpload name="photos[]" auto="true" chooseLabel="Selecionar" customUpload="true"
            (uploadHandler)="onUpload($event,formUpload)" accept="image/*"></p-fileUpload>
    </p-header>
    <p-scrollPanel [style]="{width: '100%', height: '80px'}">
        <span [innerHTML]='productInfo?.product.description'></span>
    </p-scrollPanel>
    <p-footer>
        <form [formGroup]="productCombinationForm" (ngSubmit)="onSubmit(productCombinationForm,formUpload)" enctype="multipart/form-data"
            novalidate>
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-12">
                    <p-dropdown [style]="{'width':'100%'}" [options]="productData.colors" dataKey='id' optionLabel='color' placeholder="Cor"
                        formControlName="color"></p-dropdown>
                    <div *ngIf="color.invalid && (color.dirty || color.touched)" class="alert alert-danger">
                        <div *ngIf="color.errors.required" class=" error-msg">
                            Selecione a cor do produto
                        </div>
                    </div>
                </div>
                <div formArrayName="combination">
                    <div *ngFor="let address of productCombinationForm.controls.combination.controls; let i=index">

                        <div [formGroupName]="i">
                            <div class="ui-g-12">
                                <div class="ui-g-4 ui-md-4">
                                    <p-dropdown [styleClass]="[drop-style]" [style]="{'width':'100%'}" [options]="productData.sizes" placeholder="Tamanho" dataKey='id'
                                        optionLabel='size' formControlName="size"></p-dropdown>
                                    <div *ngIf="productCombinationForm.controls.combination.controls[i].controls.size.invalid && (productCombinationForm.controls.combination.controls[i].controls.size.dirty || productCombinationForm.controls.combination.controls[i].controls.size.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="productCombinationForm.controls.combination.controls[i].controls.size.errors.required" class="ui-message error-msg ui-messages-error ui-corner-all">
                                            O Tamanho é Obrigatório
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-4 ui-md-4">
                                    <span class="md-inputfield">
                                        <input type="text" pInputText formControlName="quantity" pKeyFilter="pint">
                                        <label style="font-size: 13px">Quantidade</label>
                                        <div *ngIf="productCombinationForm.controls.combination.controls[i].controls.quantity.invalid && (productCombinationForm.controls.combination.controls[i].controls.quantity.dirty || productCombinationForm.controls.combination.controls[i].controls.quantity.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="productCombinationForm.controls.combination.controls[i].controls.quantity.errors.required" class="ui-message ui-messages-error ui-corner-all">
                                                A quantidade é obrigatória
                                            </div>
                                        </div>
                                    </span>
                                </div>
                                <div class="ui-g-3 ui-md-3">
                                    <span class="md-inputfield">
                                        <input type="text" pInputText formControlName="price" pKeyFilter="money">
                                        <label style="font-size: 13px">Preço</label>
                                        <div *ngIf="productCombinationForm.controls.combination.controls[i].controls.price.invalid && (productCombinationForm.controls.combination.controls[i].controls.price.dirty || productCombinationForm.controls.combination.controls[i].controls.price.touched)"
                                            class="alert alert-danger">
                                            <div *ngIf="productCombinationForm.controls.combination.controls[i].controls.price.errors.required" class="ui-message ui-messages-error ui-corner-all">
                                                O preço é obrigatório
                                            </div>
                                        </div>
                                    </span>
                                </div>
                                <div class="ui-g-1 ui-md-1">
                                    <a href="#" (click)="deleteCombination($event,i); false">
                                        <i class="material-icons">close</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="ui-md-4" type="button" (click)="addCombination(i)" [disabled]="!productCombinationForm.valid" pButton label="Nova"
                icon="ui-icon-plus"></button>
            <button class="ui-md-4" type="submit" style="float:right" *ngIf="images.length != 0" [disabled]="!productCombinationForm.valid"
                pButton label="Salvar" icon="ui-icon-save"></button>
            <button class="ui-md-4" type="button" style="float:right" *ngIf="images.length == 0" (click)="showError()" pButton label="Salvar"
                icon="ui-icon-save"></button>
        </form>
    </p-footer>
</p-card>