.error-msg{
    background-color: transparent;
    border: 0 none;
    margin: 0px;
    color: #e62a10;
    font-size: .75em;
}

.ui-steps .ui-steps-item {
    width: 25% !important;
}

.ui-steps.steps-custom {
    margin-bottom: 30px !important;
}
 
.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
    height: 10px !important;
    padding: 0 1em !important;
}
 
.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2 !important;
    color: #FFFFFF !important;
    display: inline-block !important;
    width: 36px !important;
    border-radius: 50% !important;
    margin-top: -14px !important;
    margin-bottom: 10px !important;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
    color: #555555;
}