<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)" enctype="multipart/form-data">
    <div class="ui-g ui-fluid">

        <!-- Name -->
        <div class="ui-g-4 ui-md-4">
            <div class="md-inputgroup">
                <span class="md-inputfield">
                    <input type="text" pInputText formControlName="name" required>
                    <label>Nome</label>
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                        <div *ngIf="name.errors.required" class="ui-message ui-messages-error ui-corner-all">
                            O nome é obrigatório
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <!-- Categories -->
        <div class="ui-g-4 ui-md-4">
            <p-multiSelect defaultLabel="Categorias" [options]="categories" dataKey='id' optionLabel='name' formControlName="category"></p-multiSelect>
            <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
                <div *ngIf="category.errors.required" class=" error-msg">
                    Selecione pelo menos uma categoria
                </div>
            </div>
        </div>

        <!-- Brands -->
        <div class="ui-g-4 ui-md-4">
            <p-dropdown [style]="{'width':'100%'}" [options]="brands" dataKey='id' optionLabel='name' placeholder="Marca" formControlName="brand"></p-dropdown>

            <div *ngIf="brand.invalid && (brand.dirty || brand.touched)" class="alert alert-danger">
                <div *ngIf="brand.errors.required" class=" error-msg">
                    Selecione a marca do seu produto.
                </div>
            </div>
        </div>

        <!-- Description -->
        <div class="ui-g-12">
            <h1>Descrição</h1>
            <p-editor formControlName="description" [style]="{'height':'320px'}"></p-editor>
        </div>
    </div>
    <button type="submit" style="float: right;" [disabled]="!productForm.valid" pButton label="Salvar" icon="ui-icon-save"></button>
</form>