<div class='card card-w-title'>
    <product-description *ngIf="activeIndex == 0" (stepIndex)="nextStep($event)" ></product-description>
    <product-combination [productDescription]="product" *ngIf="activeIndex == 1"></product-combination>
</div>