<p-fieldset legend="Combinações" [style]="{'background': '#f7f7f7','padding-top':'0px'}">
    <div *ngIf="!blocked" class="ui-g">
        <div *ngFor="let comb of productCombinationCardData; let i = index" class="ui-g-3">
            <product-combination-card (combinations)="saveCombination($event)" [productData]="productData" [productInfo]="productDescription"
                [newCombinationCreated]="newCombinationCreated" [productCombinationCardData]="comb"></product-combination-card>
        </div>
        <div class="ui-g-3">
            <p-blockUI [target]="pnl" [blocked]="blockNewCombination">
                <i class="material-icons" style="color:white; position:absolute;top:40%;left:40%; font-size: 4em;">lock</i>
            </p-blockUI>
            <p-card #pnl title="Nova Combinação" class="card-style">
                <a href="#" (click)="addCombination(); false">
                    <i style="font-size: 5em; padding-left: 36%" class="material-icons">add</i>
                </a>
            </p-card>
        </div>
    </div>
</p-fieldset>